.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    .input {
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 16px;
    }
    .button {
      padding: 10px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
